@forward "element-plus/theme-chalk/src/common/var.scss" with ($colors: (
    "primary": ("base": #2e3143),
    "success": ("base": #239113),
    "warning": ("base": #F9B44C),
    "danger": ("base": #F64848),
    "info": ("base": #58c199),
));